html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 3rem;
  background-image: url(vivid-blurred-colorful-wallpaper-background.jpg);
  background-size: cover;
}

#manual {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
}

h2, #manual p, #manual button{
  margin: 0;
}

#keys {
  display: flex;
  gap: 1rem;
}

#show-keys {
  width: fit-content;
  height: fit-content;
}

#calculator {
  background-color: rgb(120, 120, 120);
  width: 16.25rem;
  height: fit-content;
  padding: 0.75rem;
  border: 0.1rem solid black;
  border-radius: 0.25rem;
}

#display {
  background-color: white;
  width: 14.75rem;
  height: 3rem;
  border: 0.1rem solid black;
  border-radius: 0.125rem;
  margin: 0 0 0.75rem 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 14.75rem;
}

#buttons button {
  width: 3.5rem;
  height: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

button * {
  pointer-events: none;
}

button#sign-toggle, sup#smaller {
  font-size: 1rem;
}

.digit, #sign-toggle, #point {
  background-color: #ddfff7;
}

.operator, #calculate {
  background-color: #93e1d8;
}

#all-clear, #backspace {
  background-color: #ffa69e;
}
