html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  gap: 6vw;
  padding: 10rem 0;
  margin: 0;
  background-image: url(background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.spacer {
  flex: 1;
}

#calculator {
  flex: none;
  width: 25.25rem;
  height: fit-content;
  padding: 1.5rem;
  border: 0.05rem solid white;
  border-radius: 0.5rem;
  background-color: hwb(240 77% 12%);
}

#display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 22.25rem;
  height: 5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin: 0 0 1.5rem 0;
  background-color: white;
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 22.25rem;
}

#buttons button {
  width: 5rem;
  height: 3.5rem;
  border: none;
  border-radius: 1rem;
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
}

button {
  cursor: pointer;
}

button * {
  pointer-events: none;
}

#all-clear, #backspace {
  background-color: hwb(305 78% 10%);
}

.operator, #calculate {
  background-color: hwb(214 66% 0%);
}

.digit, #sign-toggle, #point {
  background-color: hwb(214 86% 0%);
}

button#backspace, button#point{
  font-size: 3.25rem;
}

button#division, button#multiplication, button#subtraction,
button#addition, button#calculate {
  font-size: 3rem;
}

#manual {
  flex: 1;
  display: flex;
  gap: 4vw;
}

#manual-text {
  flex: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30rem;
  padding: 0.5rem;
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
}

.hidden {
  visibility: hidden;
}

h2, #manual p{
  margin: 0;
}

#manual-toggle {
  height: fit-content;
  border: 0.25rem solid hwb(240 77% 12%);
  border-right: none;
  border-radius: 0.25rem;
  margin-left: auto;
  background-color: white;
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
